<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="aae266a2a3a149f0978f0213e1c5ebe0" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_aae266a2a3a149f0978f0213e1c5ebe0 = echarts.init(
            document.getElementById('aae266a2a3a149f0978f0213e1c5ebe0'), 'white', {renderer: 'canvas'});
        var option_aae266a2a3a149f0978f0213e1c5ebe0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5de5\u4f5c\u7ecf\u9a8c",
            "legendHoverLink": true,
            "data": [
                5999,
                1227,
                1054,
                996,
                849,
                815,
                736,
                732,
                662,
                594,
                574,
                545,
                500
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5de5\u4f5c\u7ecf\u9a8c"
            ],
            "selected": {
                "\u5de5\u4f5c\u7ecf\u9a8c": true
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5b57\u8282\u8df3\u52a8",
                "\u5e7f\u4e1c\u5f18\u6d0b\u79d1\u6280",
                "\u5c1a\u5fb7\u673a\u6784",
                "51Talk\u65e0\u5fe7\u82f1\u8bed",
                "\u82cf\u5dde\u8d1d\u58f3\u627e\u623f",
                "\u9053\u683c\u96c6\u56e2",
                "\u57c3\u6469\u68ee\u7f51\u7edc\u79d1\u6280\uff08\u4e0a\u6d77\uff09",
                "\u5317\u4eac\u4e09\u516d\u4e5d\u6570\u52a8\u79d1\u6280",
                "\u5c71\u4e1c\u6cfd\u6668\u4fe1\u606f\u6280\u672f",
                "\u6d77\u5357\u6b21\u5143\u6811\u7f51\u7edc\u79d1\u6280\u5e7f\u5dde\u5206\u516c\u53f8",
                "\u5e7f\u4e1c\u541b\u6668\u7f51\u7edc\u79d1\u6280",
                "\u4e1c\u839e\u5e02\u62d3\u80fd\u7535\u5b50\u79d1\u6280",
                "\u5e7f\u5dde\u660a\u6781\u5546\u8d38"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ]
};
        chart_aae266a2a3a149f0978f0213e1c5ebe0.setOption(option_aae266a2a3a149f0978f0213e1c5ebe0);
    </script>
</body>
</html>
