<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="e737d832ee23466e929b53ba566d97e1" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_e737d832ee23466e929b53ba566d97e1 = echarts.init(
            document.getElementById('e737d832ee23466e929b53ba566d97e1'), 'white', {renderer: 'canvas'});
        var option_e737d832ee23466e929b53ba566d97e1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u5de5\u8d44\u533a\u95f4",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "6-8\u5343/\u6708",
                    25254
                ],
                [
                    "4.5-6\u5343/\u6708",
                    19845
                ],
                [
                    "0.8-1\u4e07/\u6708",
                    15016
                ],
                [
                    "1-1.5\u4e07/\u6708",
                    13740
                ],
                [
                    "3-4.5\u5343/\u6708",
                    6086
                ],
                [
                    "5-8\u5343/\u6708",
                    5298
                ],
                [
                    "4-6\u5343/\u6708",
                    5296
                ],
                [
                    "0.6-1\u4e07/\u6708",
                    4549
                ],
                [
                    "0.8-1.5\u4e07/\u6708",
                    4210
                ],
                [
                    "0.5-1\u4e07/\u6708",
                    4139
                ],
                [
                    "1.5-2\u4e07/\u6708",
                    4119
                ],
                [
                    "0.8-1.2\u4e07/\u6708",
                    3327
                ],
                [
                    "4-8\u5343/\u6708",
                    3275
                ],
                [
                    "1-2\u4e07/\u6708",
                    2857
                ],
                [
                    "0.6-1.2\u4e07/\u6708",
                    2794
                ],
                [
                    "5-7\u5343/\u6708",
                    2675
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5de5\u8d44\u533a\u95f4"
            ],
            "selected": {
                "\u5de5\u8d44\u533a\u95f4": true
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "6-8\u5343/\u6708",
                "4.5-6\u5343/\u6708",
                "0.8-1\u4e07/\u6708",
                "1-1.5\u4e07/\u6708",
                "3-4.5\u5343/\u6708",
                "5-8\u5343/\u6708",
                "4-6\u5343/\u6708",
                "0.6-1\u4e07/\u6708",
                "0.8-1.5\u4e07/\u6708",
                "0.5-1\u4e07/\u6708",
                "1.5-2\u4e07/\u6708",
                "0.8-1.2\u4e07/\u6708",
                "4-8\u5343/\u6708",
                "1-2\u4e07/\u6708",
                "0.6-1.2\u4e07/\u6708",
                "5-7\u5343/\u6708"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ]
};
        chart_e737d832ee23466e929b53ba566d97e1.setOption(option_e737d832ee23466e929b53ba566d97e1);
    </script>
</body>
</html>
